<div class="column">
    <section class="section">
        {% include "utils/avatar.html" with size="is-128x128" %}
    </section>

    <!-- UPLOAD PROFILE PICTURE. -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="action" value="avatar"/>
        <div class="file has-name" style="padding-bottom: 2em;">
            <label class="file-label">
                <span class="file-cta">
                    <span class="file-icon">
                        <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                        Browse files
                    </span>
                </span>
                <label class="file-name" id="file-name">
                    No picture selected.
                </label>
                <input class="file-input" type="file" name="avatar" id="avatar">
                <button name="upload" class="button is-success ml-3" type="submit">Upload</button>
            </label>
        </div>
    </form>
</div>
