<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if user.is_authenticated %}
    {% number_of_unread_notifications user as count %}
    {% endif %}
    {% if count %}
    <title>({{ count }}) TicketVise</title>
    {% else %}
    <title>TicketVise</title>
    {% endif %}

    <meta name="description" content="TicketVise, making assisting great again.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>

{% block body %}
if you see this, something is wrong!
{% endblock body %}

{% block navbar-javascript %}
{% endblock navbar-javascript %}

<script type="text/javascript" src="{% static 'bundle.js' %}"></script>
{% block javascript %}
{% endblock javascript %}

<script>
    if (document.hasOwnProperty('hasStorageAccess')) {
        document.hasStorageAccess().then(hasAccess => {
            if (!hasAccess) {
                return document.requestStorageAccess();
            }
        }).then(_ => location.reload()).catch(e => {
            console.log(e)
        });
    }
</script>

</body>
</html>
