<!-- THE WEBPAGE FOR ERRORS. -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if user.is_authenticated %}
    {% number_of_unread_notifications user as count %}
  {% endif %}
  {% if count %}
    <title>({{ count }}) TicketVise</title>
  {% else %}
    <title>TicketVise</title>
  {% endif %}

  <meta name="description" content="TicketVise, making assisting great again.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
  <title>TicketVise</title>
</head>
<body class="h-screen w-screen flex flex-col overflow-hidden">
<!-- Header -->
<nav class="bg-gray-800 sticky top-0 z-10 w-full">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          {% load static %}
          <span class="flex items-center">
                            <img class="h-8 w-8" src="{% static 'img/logo/logo.svg' %}" alt="Logo">
                            <span class="text-2xl ml-2 text-white">Ticket</span><span
                  class="text-2xl text-orange-500 font-bold">Vise</span>
                        </span>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="grid grid-rows-2 lg:grid-cols-2 lg:grid-rows-1 h-full">
  <div class="flex flex-col justify-center items-center h-full w-full">
    <div class="text-6xl font-thin text-gray-800 -mb-4">{{ error_code }}</div>
    <div class="text-3xl font-bold text-gray-800">{{ error_text }}</div>
    <a href="/inboxes" class="text-xl text-gray-600 underline">Click to go back to the dashboard</a>
  </div>
  <div class="flex flex-col justify-end lg:justify-center items-center h-full w-full pb-4">
    <img class="h-11/12 lg:max-h-6/12" src="{% static 'img/svg/undraw_not_found_60pq.svg' %}" alt="Error photo">
  </div>
</div>
</body>
</html>
