<!--
    TICKET OVERVIEW PAGE FOR A INBOX.
-->
{% extends "navigation_side.html" %}
{% load ticketvise_extras %}

{% block content %}
<span
    class="fixed bottom-4 right-4 shadow-xl rounded-full md:hidden z-10"
    x-data="{ atTop: (window.pageYOffset > 0) ? false : true }"
    x-on:scroll.window="atTop = (window.pageYOffset > 0) ? false : true"
>
    <a
        href="{% url 'new_ticket' inbox.id %}"
        class="inline-flex justify-center items-center h-10 w-10 border border-transparent text-sm leading-5 font-medium rounded-full text-white bg-primary hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange focus:border-orange-700 active:bg-orange-700 transition duration-150 ease-in-out"
        :class="{ 'w-auto px-4': atTop }"
    >
        <i class="fa fa-plus text-base" :class="{ 'mr-2': atTop }"></i>
        <span x-show="atTop">New Ticket</span>
    </a>
</span>

<!-- TICKET LIST BOARD. -->
<div id="ticket-overview"></div>
{% endblock content %}
