{% extends "navigation.html" %}

{% block content %}
    {% include "utils/page_header.html" with title="Notifications" subtitle="Make sure you stay up to date" %}


    <div class="section container">
        <nav class="level">
            <!-- LEFT SIDE. -->
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        <strong>{% number_of_unread_notifications user %}</strong> Unread Notifications
                    </p>
                </div>
            </div>

            <!-- RIGHT SIDE OF THE CONTROL BAR CONTAINING THE FILTERS AND MARK ALL AS READ BUTTON. -->
            <div class="level-right">
                <p class="level-item"> {% if not request.GET.read %} <strong>All</strong>
                {% else %} <a href="{% url 'notifications' %}">All</a> {% endif %} </p>
                <p class="level-item"> {% if request.GET.read == 'unread' %} <strong>Unread</strong>
                {% else %} <a href="?read=unread">Unread</a> {% endif %} </p>
                <p class="level-item"> {% if request.GET.read == 'read' %} <strong>Read</strong>
                {% else %} <a href="?read=read">Read</a> {% endif %} </p>
                <p class="level-item">
                <form method="post">
                    {% csrf_token %}
                    <button class="button is-info is-outlined">Mark all as read</button>
                </form>
                </p>
            </div>
        </nav>

        <!-- LOAD THE NOTIFICATIONS. -->
        {% for notification in notifications %}
            <article class="columns message-body" style="border-color:{{ notification.get_inbox.color }}">
                <div class="column is-one-fifth">
                    {% if notification.read %}
                        <a class="media_inbox_name has-text-black"
                           href="{{ notification.get_inbox.url }}">{{ notification.get_inbox.name }}</a>
                    {% else %}
                        <a class="media_inbox_name has-text-black has-text-weight-bold"
                           href="{{ notification.get_inbox.url }}">{{ notification.get_inbox.name }}</a>
                    {% endif %}
                </div>

                <div class="column is-three-quarters">
                        <p>
                            {% if notification.read %}
                                <a class="has-text-black" href="{{ notification.get_ticket_url }}">
                                    {{ notification.get_title }}</a>
                            {% else %}
                                <a class="has-text-black has-text-weight-bold" href="{{ notification.get_ticket_url }}">
                                    {{ notification.get_title }}</a>
                            {% endif %}

                            <small>{{ notification.get_author }}</small>
                            <small>- {{ notification.date_created }}</small>
                            <br>
                            {{ notification.get_content }}
                        </p>
                </div>

                <div class="column">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" type="number" value="{{ notification.id }}">
                        {% if notification.read %}
                            <button class="button is-white is-pulled-right">
                                <i class="fa fa-envelope-open-o"></i>
                            </button>
                        {% else %}
                            <button class="button is-white is-pulled-right
">
                                <i class="fa fa-envelope"></i>
                            </button>
                        {% endif %}
                    </form>
                </div>
            </article>
            <hr>
        {% endfor %}

        <!-- PAGINATION. -->
        <div class="container mt-6">
            <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                <!-- PREVIOUS AND NEXT BUTTON. -->
                {% if notifications.has_previous %}
                    <a class="pagination-previous"
                       href="?read={{ read }}&page={{ notifications.previous_page_number }}">Previous page</a>
                {% endif %}
                {% if notifications.has_next %}
                    <a class="pagination-next" href="?read={{ read }}&page={{ notifications.next_page_number }}">Next
                        page</a>
                {% endif %}

                <ul class="pagination-list">
                    <!-- FIRST AND PREVIOUS PAGE NUMBER. -->
                    {% if notifications.has_previous %}
                        <li><a class="pagination-link" aria-label="Goto page 1"
                               href="?read={{ read }}&page=1">1</a></li>
                        {% if notifications.previous_page_number != 1 %}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link"
                                   aria-label="Goto page {{ notifications.previous_page_number }}"
                                   href="?read={{ read }}&page={{ notifications.previous_page_number }}">
                                {{ notifications.previous_page_number }}
                            </a></li>
                        {% endif %}
                    {% endif %}


                    <!-- CURRENT PAGE NUMBER. -->
                    <li><a class="pagination-link is-current" aria-label="Page {{ notifications.number }}"
                           aria-current="page">{{ notifications.number }}</a></li>

                    <!-- FIRST AND PREVIOUS PAGE NUMBER. -->
                    {% if notifications.paginator.num_pages != notifications.number and notifications.next_page_number != 0 %}
                        <li><a class="pagination-link" aria-label="Goto page {{ notifications.next_page_number }}"
                               href="?read={{ read }}&page={{ notifications.next_page_number }}">{{ notifications.next_page_number }}</a>
                        </li>

                        {% if notifications.paginator.num_pages != notifications.next_page_number %}
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link"
                                   aria-label="Goto page {{ notifications.paginator.num_pages }}"
                                   href="?read={{ read }}&page={{ notifications.paginator.num_pages }}">{{ notifications.paginator.num_pages }}</a>
                            </li>
                        {% endif %}

                    {% endif %}

                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
