<div class="flex w-full p-2 sm:px-0 sm:pb-4 space-x-2">
  <div class="flex w-full border border-gray-300 rounded-md overflow-hidden">
    <input class="w-full p-2 mx-1" type="text" placeholder="Search..." name="q" value="{{ request.GET.q }}" autofocus>
    <button class="bg-white w-auto flex justify-end items-center text-gray-600 p-2 hover:text-gray-500">
      <i class="fa fa-search"></i>
    </button>
  </div>

  {% if add_url %}
  <a type="button" href="{{ add_url }}"
    class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-primary hover:bg-orange-500 focus:outline-none focus:shadow-outline-orange focus:border-orange-700 active:bg-orange-700 transition duration-150 ease-in-out">
    <i class="fa fa-plus mr-2"></i>
    Add
  </a>
  {% endif %}
</div>
