{% extends "inbox/base.html" %}
{% load ticketvise_extras %}

{% block inbox-content %}
<div class="container mx-auto md:mt-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div>
      <h3 class="text-xl leading-6 font-medium text-gray-900 p-2 pb-1">
        Inbox
      </h3>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <dt class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Name
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <input type="text"
            class="block appearance-none w-full bg-white border {% if form.errors.name %} mb-2 border-red-600 hover:border-red-700 {% else %} border-gray-400 hover:border-gray-500 {% endif %} px-4 py-2 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline"
            value="{{ form.name.value }}" name="name">
          {% for error in form.errors.name %}
          <p class="text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <dt class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Code
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <input type="text"
            class="block appearance-none w-full bg-white border {% if form.errors.code %} mb-2 border-red-600 hover:border-red-700 {% else %} border-gray-400 hover:border-gray-500 {% endif %} px-4 py-2 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline"
            value="{{ form.code.value }}" name="code">
          {% for error in form.errors.code %}
          <p class="text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <dt class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Color
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <input type="color"
            class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 overflow-hidden rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline"
            value="{{ form.color.value }}" name="color">
          {% for error in form.errors.value %}
          <p class="text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <dt class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Photo
        </dt>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 flex items-center">
          <img class="object-contain h-32 w-32 overflow-hidden rounded border-dashed border-4 border-gray-400"
            style="outline-offset: -6px" src="{{ inbox.image.url }}" id="inbox-image" alt="Inbox image">
          <span class="block shadow-sm rounded-md">
            <button type="button" id="image-button"
              class="ml-4 inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50">
              <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
              </svg>
              Change
            </button>
          </span>
          <input class="hidden" type="file" id="image" name="image">
          {% for error in form.errors.image %}
          <p class="text-sm text-red-600">{{ error }}</p>
          {% endfor %}
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <label for="show_assignee_to_guest" class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Assignee visible to students
        </label>
        <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <input type="checkbox" {% if form.show_assignee_to_guest.value %} checked {% endif %}
            class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 overflow-hidden rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline"
            name="show_assignee_to_guest" id="show_assignee_to_guest">
        </dd>
      </div>
      <h3 class="text-xl mt-4 leading-6 font-medium text-gray-900 p-2 pb-1">
        Tickets
      </h3>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <label for="close_answered_weeks" class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Close answered ticket automatically after
        </label>
        <dd class="text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <select name="close_answered_weeks" id="close_answered_weeks"
            class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline">
            {{ form.close_answered_weeks.value }}
            {% for i in 5|times %}
            <option value="{{ i }}" {% if form.close_answered_weeks.value == i %} selected {% endif %}>
              {% if i == 0 %}
              Disabled
              {% else %}
              After {{ i }} {{ i|add:"-1"|yesno:"weeks, week" }}
              {% endif %}
            </option>
            {% endfor %}
          </select>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <label for="alert_coordinator_unanswered_days"
          class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Send alert email of unanswered tickets
        </label>
        <dd class="text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <select name="alert_coordinator_unanswered_days" id="alert_coordinator_unanswered_days"
            class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline">
            {% for i in 8|times %}
            <option value="{{ i }}" {% if form.alert_coordinator_unanswered_days.value == i %} selected {% endif %}>
              {% if i == 0 %}
              Disabled
              {% else %}
              After {{ i }} {{ i|add:"-1"|yesno:"days, day" }}
              {% endif %}
            </option>
            {% endfor %}
          </select>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 border-b-2">
        <label for="scheduling_algorithm" class="text-sm leading-5 font-medium text-gray-700 flex items-center">
          Scheduling algorithm
        </label>
        <dd class="text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
          <select name="scheduling_algorithm" id="scheduling_algorithm"
            class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline">
            {% for value, text in form.fields.scheduling_algorithm.choices %}
            <option value="{{ value }}" {% if form.scheduling_algorithm.value == value %} selected {% endif %}>
              {{ text }}
                </option>
              {% endfor %}
            </select>
          </dd>
          <label for="fixed_scheduling_assignee"
                 class="text-sm leading-5 font-medium text-gray-700 flex items-center">
            Fixed scheduling assignee
          </label>
          <dd class="text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2">
            <select name="fixed_scheduling_assignee" id="fixed_scheduling_assignee"
                    class="block appearance-none bg-white border border-gray-400 hover:border-gray-500 px-4 py-1 pr-8 rounded shadow-sm leading-tight focus:outline-none focus:shadow-outline">
              <option value="" {% if form.fixed_scheduling_assignee.value == None %} selected {% endif %}>
                None
              </option>
              {% get_staff inbox as staff %}
              {% for user in staff %}
                <option value="{{ user.id }}" {% if form.fixed_scheduling_assignee.value == user.id %} selected {% endif %}>
                  {{ user.get_full_name }}

            </option>
            {% endfor %}
          </select>
        </dd>
      </div>
    </div>

    <div class="p-2 px-4 sm:pr-0 flex w-full space-x-2 justify-end">
      <a href="{% url 'inbox_settings' inbox.id %}"
        class="group inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:text-gray-800 active:bg-gray-50">
        <span class="left-0 inset-y-0 flex items-center">
          <i class="fa fa-times mr-2"></i>
        </span>
        Cancel
      </a>
      <button type="submit"
        class="group inline-flex justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md bg-green-200 text-green-700 hover:bg-green-100 focus:outline-none focus:shadow-outline-indigo focus:border-green-700 active:bg-green-700">
        <span class="left-0 inset-y-0 flex items-center">
          <i class="fa fa-check mr-2"></i>
        </span>
        Save
      </button>
    </div>
  </form>

</div>
{% endblock inbox-content %}

{% block javascript %}
<script>
  document.getElementById("image").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
      // get loaded data and render thumbnail.
      document.getElementById("inbox-image").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  };

  document.getElementById("image-button").addEventListener("click", function () {
    document.getElementById("image").click()
  })
</script>


{% endblock javascript %}
