{% extends "navigation_side.html" %}
{% load ticketvise_extras %}

{% block content %}
<div class="container mx-auto pt-4 sm:px-2 lg:px-4">
  <h3 class="text-lg leading-6 font-medium text-gray-900 px-4 pb-1">
    Last week
  </h3>

  <div class="sm:rounded shadow grid grid-cols-2 lg:grid-cols-4 mb-4">
    <div class="flex-grow border-r border-b lg:border-b-0 p-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Pending
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ current_week_pending }}</h2>
        <span class="ml-2 text-sm flex-grow text-gray-600">from {{ last_week_pending }} last week</span>
        {% if last_week_pending != 0 %}
        {% include "inbox/stat_increase_label.html" with value=pending_pct %}
        {% endif %}
      </div>
    </div>
    <div class="flex-grow border-b lg:border-b-0 lg:border-r p-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Assigned
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ current_week_assigned }}</h2>
        <span class="ml-2 text-sm flex-grow text-gray-600">from {{ last_week_assigned }} last week</span>
        {% if last_week_assigned != 0 %}
        {% include "inbox/stat_increase_label.html" with value=assigned_pct %}
        {% endif %}
      </div>
    </div>
    <div class="flex-grow p-4 border-r">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Answered
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ current_week_answered }}</h2>
        <span class="ml-2 text-sm flex-grow text-gray-600">from {{ last_week_answered }} last week</span>
        {% if last_week_answered != 0 %}
        {% include "inbox/stat_increase_label.html" with value=answered_pct %}
        {% endif %}
      </div>
    </div>
    <div class="flex-grow p-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Closed
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ current_week_closed }}</h2>
        <span class="ml-2 text-sm flex-grow text-gray-600">from {{ last_week_closed }} last week</span>
        {% if last_week_closed != 0 %}
        {% include "inbox/stat_increase_label.html" with value=closed_pct %}
        {% endif %}
      </div>
    </div>
  </div>

  <h3 class="text-lg leading-6 font-medium text-gray-900 px-4 pb-1 pt-4">
    Summary
  </h3>

  <div class="flex flex-col md:grid md:grid-cols-3 divide-y md:divide-y-0 md:divide-x shadow mb-4 sm:rounded">
    <div class="flex flex-wrap">
      <div class="grow p-4">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Total tickets
        </h3>
        <div class="flex items-baseline mt-1">
          <h2 class="text-2xl font-medium text-orange-500">{{ total_tickets }}</h2>
          <span class="ml-2 text-sm flex-grow text-gray-600">from {{ last_week_total_tickets }} last week</span>
        </div>
      </div>
    </div>
  
    <div class="flex-grow p-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Average response time
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ avg_response_time }} <span class="text-gray-600 text-sm font-normal">hours</span></h2>
      </div>
    </div>
  
    <div class="flex-grow p-4">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Active students
      </h3>
      <div class="flex items-baseline mt-1">
        <h2 class="text-2xl font-medium text-orange-500">{{ total_students }}</h2>
      </div>
    </div>
  </div>

  <div id="inbox-statistics"></div>
</div>

{% endblock content %}
