{% load ticketvise_extras %}

<span class="px-2 py-1 text-sm rounded-full
    {% if value > 0 %}
        bg-green-200 text-green-700
    {% elif value < 0 %}
        bg-red-200 text-red-700
    {% else %}
        bg-gray-200 text-gray-700
    {% endif %}">
    {% if value > 0 %}
      <i class="fa fa-arrow-up"></i>
    {% elif value < 0 %}
      <i class="fa fa-arrow-down"></i>
    {% else %}
      <i class="fa fa-minus"></i>
    {% endif %}
  <span class="ml-2 font-medium ">
        {% abs_value value %}%
    </span>
</span>
