<!--
    HEADER FOR THE TICKET OVERVIEW.
-->
{% load ticketvise_extras %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-four-fifths">
          <h1 class="title">
            {{ title }}
          </h1>
          <h2 class="subtitle">
            {{ subtitle }}
          </h2>
        </div>
        <br/>
        <!-- CREATE NEW TICKET BUTTON. -->
        <div class="columns buttons has-text-right is-centered">
          <a class="button is-success has-text-right" href="{% url 'new_ticket' inbox.id %}">
            <i class="fa fa-plus pr-2" aria-hidden="true"></i> New Ticket
          </a>
        </div>
      </div>
    </div>
  </div>
</section>