<!--
    TICKET OVERVIEW PAGE FOR A INBOX.
-->
{% extends "navigation.html" %}
{% load ticketvise_extras %}

{% block content %}
    <section class="p-6 flex flex-col flex-grow">        <!-- TICKET LIST BOARD. -->
        <div id="ticket-overview" :title="1"></div>

        <!-- ERROR MESSAGE FOR WHEN SOMETHING FAILS. -->
        <div class="modal" id="error-message">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Error</p>
                    <button class="delete" aria-label="close" id="close-error"></button>
                </header>
                <section class="modal-card-body">
                    Oops! Something went wrong. Please try again.
                </section>
                <footer class="modal-card-foot">
                </footer>
            </div>
        </div>

        {% if role != ROLE_STUDENT %}
            <!-- BULK EDIT MENU. -->
            {% include "ticket_overview/bulk-edit-menu.html" %}
        {% endif %}
    </section>
{% endblock content %}
