{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <!-- REDIRECT TO HOME PAGE WHEN NOT LOGGED IN. -->
    {% if user.is_authenticated %}
        <meta http-equiv="REFRESH" content="0;url=/">
    {% endif %}

    <!-- THE PAGE TITLE. -->
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered flex-column">
                    <div class="navbar-item login-logo">
                        <img src="/static/img/logo/logo.png" class="logo-img">
                        <p class="logo-text has-text-info">TicketVise</p>
                    </div>

                    <div class="column is-5-tablet is-4-desktop">
                        <!-- DISPLAY ERROR MESSAGES WHEN LOGIN FAILED. -->
                        {% if form.errors %}
                            <article class="message is-danger">
                                <div class="message-body">
                                    {{ form.non_field_errors }}
                                </div>
                            </article>
                        {% endif %}

                        <!-- THE LOGIN FORM. -->
                        <form method="post" action="" class="box login-form ">
                            <h2 class="is-size-4 has-text-centered">Login</h2>

                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                            <!-- USERNAME FIELD. -->
                            <div class="field">
                                <label for="" class="label">Username</label>
                                <div class="control has-icons-left">
                                    <input name="username" placeholder="12345678" class="input" required
                                            {% if not form.data.username %} autofocus {% endif %}
                                           value="{{ form.data.username }}">
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <!-- PASSWORD FIELD. -->
                            <div class="field">
                                <label for="" class="label">Password</label>
                                <div class="control has-icons-left">
                                    <input name="password" type="password" placeholder="*******" class="input"
                                            {% if form.data.username %} autofocus {% endif %} required>
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <a class="help" href="/password_reset/">Forgot password?</a>
                                </div>
                            </div>

                            <div class="field">
                                <p>When logging in you accept our <a href="/terms">Terms of Services</a></p>
                            </div>

                            <!-- LOGIN BUTTON. -->
                            <div class="field flex-centered">
                                <button class="button is-info">
                                    Login
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
