{% extends "navigation.html" %}

{% block content %}

    {% include "utils/page_header.html" with title="Password reset" subtitle="Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one." %}

    <section class="section">
        <div class="container column is-half">

            <form method="post" action="">
                {% csrf_token %}

                <div class="field">
                    <label for="id_email" class="label">Email:</label>
                    <div class="control has-icons-left">
                        <input id="id_email" name="email" type="email"
                               placeholder="someone@ticketvise.com" class="input" required>
                        <span class="icon is-small is-left">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-success" name="SubmitButton" id="submit-button"
                               value="Send email">
                    </div>
                </div>
            </form>
        </div>
    </section>

{% endblock content %}
