{% extends "navigation.html" %}

{% block content %}
    {% include "utils/page_header.html" with title="Change your password" subtitle="Don't tell anyone" %}
    <section class="section">
        <div class="container column is-half">


            <form method="post" action="">
                <input type="hidden" name="action" value="password"/>
                {% csrf_token %}

                <!-- PASSWORD FIELDS. -->
                <div class="field">
                    <label for="id_old_password" class="label">Old password:</label>
                    <div class="control has-icons-left">
                        <input id="id_old_password" name="old_password" type="password"
                               placeholder="*******" class="input" autocomplete="current-password" required>
                        <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                        {% for error in form.errors.old_password %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <label for="id_new_password1" class="label">New password:</label>
                <div class="control has-icons-left">
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="*******"
                           class="input" autocomplete="new-password" required>
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                    {% for error in form.errors.new_password1 %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                    <p class="help">
                        Your password can’t be too similar to your other personal information.<br>
                        Your password must contain at least 8 characters.<br>
                        Your password can’t be a commonly used password.<br>
                        Your password can’t be entirely numeric.
                    </p>
                </div>
                <label for="id_new_password2" class="label">New password confirmation:</label>
                <div class="control has-icons-left">
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="*******"
                           class="input" autocomplete="new-password" required>
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                    {% for error in form.errors.new_password2 %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-success" name="SubmitButton" id="submit-button"
                               value="Change password">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
