{% extends "navigation.html" %}

{% block content %}

    {% if user.has_usable_password %}
        {% include "utils/page_header.html" with title="Reset your password" subtitle="" %}
    {% else %}
        {% include "utils/page_header.html" with title="Welcome" subtitle="The first step is to create a password" %}
    {% endif %}
    <section class="section">
        <div class="container column is-half">
            {% if not user.has_usable_password %}
                <p>It appears this is the first time that you are going to use <b>TicketVise</b>. To use ticketvise, you
                    need to create a password. Don't worry, we made sure this password will be stored safely. We hope
                    you enjoy using ticketvise, if not, please let us know.</p><br>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}

                <label for="id_new_password1" class="label">New password:</label>
                <div class="control has-icons-left">
                    <input id="id_new_password1" name="new_password1" type="password" placeholder="*******"
                           class="input" autocomplete="new-password" required>
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                    {% for error in form.errors.new_password1 %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                    <p class="help">
                        Your password can’t be too similar to your other personal information.<br>
                        Your password must contain at least 8 characters.<br>
                        Your password can’t be a commonly used password.<br>
                        Your password can’t be entirely numeric.
                    </p><br>
                </div>
                <label for="id_new_password2" class="label">New password confirmation:</label>
                <div class="control has-icons-left">
                    <input id="id_new_password2" name="new_password2" type="password" placeholder="*******"
                           class="input" autocomplete="new-password" required>
                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                    {% for error in form.errors.new_password2 %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
                <br>
                <div class="field">
                    <div class="control">
                        <input type="submit" class="button is-success" name="SubmitButton" id="submit-button"
                               value="Change password">
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
