<!-- THE EMAIL TEMPLATE FOR THE TICKET CONFIRMATION MAILS. -->

{% load ticketvise_extras %}
{% include "email/header.html" %}
<!-- THE TITLE AND SUBTITLE OF THE E-MAIL. -->
<tr>
    <td valign="middle" class="hero bg_white" style="padding: 1em 0 1em 0;">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="padding: 0 2.5em; text-align: left;">
                    <div class="text">
                        <h2>Your ticket has been received.</h2>
                        <h4>We will email you once a reply has been
                            placed.</h4>
                    </div>
                </td>
            </tr>
        </table>
    </td>
</tr>

<!-- THE HERO-BAR CONTAINING THE TICKET QUESTION. -->
<tr>
    <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%"
           style="margin: auto;">
        <tr>
            <td valign="middle" class="hero bg_red" style="padding: 2em 0 2em 0;">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="padding: 0 2.5em; text-align: left;">
                            <div class="text">
                                <h1 class="title">{{ form_results.ticket_subject }}</h1>
                                <h3 class="subtitle">Asked by {{ user.get_full_name }}</h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <!-- TICKET INFO, SHOW THE INBOX AND THE LABELS. -->
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
            <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
                <div class="text">
                    <p><strong>Inbox:</strong> {{ inbox }}</p>
                    <p><strong>Labels:</strong>
                        <!-- PRINT ALL LABELS FOR THE TICKET, IF ANY. -->
                        {% if labels.all %}
                            {% for label in labels.all %}
                                {{ label.name }}
                            {% endfor %}
                        {% else %}
                            none
                        {% endif %}
                    </p>
                </div>
            </td>
        </tr>
    </table>

    <!-- THE TICKET CONTENT. -->
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr style="border-bottom: 1px solid rgba(0,0,0,.05);">
            <td valign="middle" width="80%" style="text-align:left; padding: 0 2.5em;">
                <div class="text">
                    <h2>Question</h2>
                    <p>{{ form_results.ticket_content | markdown | safe }}</p>
                </div>
            </td>
        </tr>
    </table>

    <!-- THE VIEW-BUTTON ON THE BOTTOM OF THE MAIL. -->
    <table class="bg_white" role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
        <table class="bg_white" align="center" role="presentation" cellspacing="0"
               cellpadding="0" border="0" width="100%" style="margin: auto;">
            <tr>
                <td valign="middle" style="text-align:center; padding: 1em 2.5em;">
                    <p><a href="https://ticketvise.com/inboxs/{{ inbox.id }}/tickets/{{ ticket_inbox_id }}"
                          class="btn btn-primary">Click to view</a></p>
                </td>
            </tr>
        </table>
        </tr>
    </table>

    {% include "email/footer.html" %}
